article, aside, figure, footer, header, hgroup, menu, nav, section { 
  display: block;
}

body
{
  margin:0 auto;
  text-align:center;
  background: black;
}
  
#T,#G,#T2,#G2,#A3,#C3,#A4,#C4
{
  position: absolute;
  color: grey;
}
#A,#C,#A2,#C2,#T3,#G3,#T4,#G4
{
  color:white;
  position: absolute;
}
#A,#T {top:10%}
#C,#G {top:15%}
#A2,#T2 {top:20%}
#C2,#G2 {top:25%}
#A3,#T3 {top:30%}
#C3,#G3 {top:35%}
#A4,#T4 {top:40%}
#C4,#G4 {top:45%}
#A5,#T5 {top:50%}
#C5,#G5 {top:55%}
#A6,#T6 {top:60%}
#C6,G6 {top:65%}


#A,#A3{
    -webkit-animation: one 4s infinite;
    -moz-animation: one 4s infinite;
  }
#T,#T3{
    -webkit-animation: onex 4s 2s infinite;
    -moz-animation: onex 4s 2s infinite;
  }
  
#C,#C3{
    -webkit-animation: one 4s 0.5s infinite;
    -moz-animation: one 4s 0.5s infinite;
  }
#G,#G3{
    -webkit-animation: onex 4s 2.5s infinite;
    -moz-animation: onex 4s 2.5s infinite;
  }
  
#A2,#A4{
    -webkit-animation: one 4s 1s infinite;
    -moz-animation: one 4s 1s infinite;
  } 
#T2,#T4{
    -webkit-animation: onex 4s 3s infinite;
    -moz-animation: onex 4s 3s infinite;
  }
  
#C2,#C4{
    -webkit-animation: one 4s 1.5s infinite;
    -moz-animation: one 4s 1.5s infinite;
  }
#G2,#G4{
    -webkit-animation: onex 4s 3.5s infinite;
    -moz-animation: onex 4s 3.5s infinite;
  }
    
@-webkit-keyframes one{
    0%   { left:40%;  z-index: 0; -webkit-transform: scale(1)}
    25%  { -webkit-transform: scale(2); }
    50%  { left:60%; z-index: 1; -webkit-transform: scale(1)}
    75%  { -webkit-transform: scale(0.5); }
    100% { left:40%;  z-index: 0; -webkit-transform: scale(1)}
  }
  
@-webkit-keyframes onex{
    0%   { left:40%;  z-index: 1; -webkit-transform: scale(1)}
    25%  { -webkit-transform: scale(2); }
    50%  { left:60%; z-index: 0; -webkit-transform: scale(1)}
    75%  { -webkit-transform: scale(0.5); }
    100% { left:40%;  z-index: 1; -webkit-transform: scale(1)}
  }
  
@-moz-keyframes one{
    0%   { left:40%;  z-index: 0; -moz-transform: scale(1)}
    25%  { -moz-transform: scale(2); }
    50%  { left:60%; z-index: 1; -moz-transform: scale(1)}
    75%  { -moz-transform: scale(0.5); }
    100% { left:40%;  z-index: 0; -moz-transform: scale(1)}
  }
  
@-moz-keyframes onex{
    0%   { left:40%;  z-index: 1; -moz-transform: scale(1)}
    25%  { -moz-transform: scale(2); }
    50%  { left:60%; z-index: 0; -moz-transform: scale(1)}
    75%  { -moz-transform: scale(0.5); }
    100% { left:40%;  z-index: 1; -moz-transform: scale(1)}
  }  

#dna{
    width:800px;
    height:800px;
    position:relative;
    padding-top: 20px;
    margin-top: 40px;
}


@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
	-webkit-animation: fadeIn 1.5s ease-in 1 forwards;
  animation: fadeIn 1.5s ease-in 1 forwards;
  opacity: 0;
}